* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #191919;
}

.heading {
  font-family: "Lato", sans-serif;
  font-size: 5vw;
  color: white;

  position: absolute;
  top: 10vh;

  width: 60vw;

  left: 50%;
  transform: translate(-50%, 0%);

  text-align: center;
  z-index: 1;
}

.paragraph-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: inherit;
  /* color: #e04e74; */
}

.pockets {
  height: 430px;
  width: 420px;
  background: #191919;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0%);
}

a {
  color: #e04e74;
  border-color: #e04e74;
}

a:hover {
  color: white;
  border-color: white;
}

.pack {
  height: 110px;
  width: 195px;
  border: 3px solid;
  border-color: inherit;
  /* border-color: #e04e74; */
  border-radius: 18px;
  background: #191919;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pack1 {
  top: 0px;
  left: 0px;
}

.pack2 {
  top: 0px;
  right: 0px;
  display: flex;
}

.pack3 {
  top: 150px;
  left: 0px;
}

.pack4 {
  top: 150px;
  right: 0px;
}

.pack5 {
  top: 300px;
  left: 0px;
}

.pack6 {
  top: 300px;
  right: 0px;
}

/* font-family: "Lato", sans-serif;
font-family: "Poppins", sans-serif; */
