* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.container-main {
  padding: 60px 80px;
}

.heading {
  padding: 0px 195px;
  font-family: "Lato", sans-serif;
  font-size: 80px;
  /* text-align: center; */
}

a {
  /* text-decoration: none; */
  color: rgb(15, 180, 139);
}

a:hover {
  color: rgb(180, 15, 153);
}

.container-stuff {
  padding: 100px 195px 0px 195px;
}
