* {
  margin: 0px;
  padding: 0px;
  /* font-family: "Poppins", sans-serif; */
}

::selection {
  background: #5cffb8;
}

html {
  scroll-behavior: smooth;
}

/* break */

#hideDiv {
  background: #ffffff;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #191919;
}

/* break */

.container-main {
  padding: 0px 120px 60px 60px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 750px;
  left: 60px;
  font-size: 18px;
}

.packet {
  margin: 20px 0px;
  padding: 20px 0px 0px 0px;
}

.image {
  width: 70%;
  max-width: 70%;
  margin: 20px 0px;
}

ul a {
  text-decoration: none;
  color: black;
}

li {
  margin: 5px 0px;
  border: 2px solid rgb(146, 146, 146);
  border-radius: 10px;
  padding: 2px 6px;
  transition: padding 0.2s;

  background: linear-gradient(200deg, #d6fcff8e, #f9dfff81);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

li:hover {
  padding: 6px 6px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heading {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, 0%);
  font-family: "Lato", sans-serif;
  font-size: 60px;
  /* text-align: center; */
}

.jump-para {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 260px;
  left: 40%;
  transform: translate(-50%, 0%);
  /* left: 120px; */
  font-size: 24px;
}

.overview {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%, 0%);
  /* left: 150px; */
  font-size: 18px;
}

.site-para-italic {
  font-style: italic;
}

.site-para-link {
  text-decoration: none;
  color: rgb(15, 180, 139);
}
