* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #191919;
}

body {
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: exclusion;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

/* Section below */

section {
  height: 60vh;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(20, 228, 176);
}

a:hover {
  color: rgb(235, 22, 199);
}

.container-stuff {
  padding: 0px 275px 0px 275px;
}

/* break */

#hideDiv {
  background: #191919;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #ff6700;
}

/* break */
