* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.container-main {
  padding: 60px 80px;
}

.heading {
  padding: 0px 195px;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  /* text-align: center; */
}

a {
  text-decoration: none;
  color: rgb(15, 180, 139);
}

a:hover {
  color: rgb(180, 15, 153);
}

.container-stuff {
  padding: 100px 195px 0px 195px;
}

.image-3d {
  width: 100%;
  padding: 20px 0px;
}

/* break */

#hideDiv {
  background: #191919;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #ff6700;
}

/* break */
