* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.container-main {
  padding: 60px 80px;
}

.heading {
  padding: 0px 195px;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  /* text-align: center; */
}

a {
  text-decoration: none;
  color: rgb(15, 180, 139);
}

a:hover {
  color: rgb(180, 15, 153);
}

.container-stuff {
  padding: 50px 195px 50px 195px;
}

/* break */

.m {
  width: 60px;
  height: 60px;
  background: #fff58f;
  border-radius: 50%;
  position: absolute;
  left: 45px;
  top: 90px;
}
.r {
  width: 200px;
  height: 200px;
  background: #824b20;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 100px;
}
.l {
  width: 200px;
  height: 200px;
  background: #e08027;
  border-radius: 50%;
  position: absolute;
  left: -100px;
  top: 100px;
}
.o {
  width: 150px;
  height: 200px;
  background: #f2ad43;
  position: relative;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translate(-50%, 24%);
  border-radius: 100px 100px 25px 25px;
  overflow: hidden;
}

/* break */

.image-svg {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
